html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

/* como adicionar fontes em textos :)
   @font-face {
    font-family: FlappyTitle;
    src: url(./assets/titleFont.ttf);
  }
  
  .FlappyStolaTitle {
    font-family: FlappyTitle;
  } */